//similar to news carousel && main section text! - 
//consider amending both css files if you make changes

.main-section-conatct-summary{
  background-image: url(../img/main-section-summary-bg.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-attachment: fixed;

  &__top-inner{
    @include respond-to(sm){
      display: flex;
    }
  }

  &__top-left{
    @include respond-to(sm){
      width: 50%;
    }
    
    p{

      @include respond-to(sm){
        position: absolute;
        top: 0px;
      }
    }

    h1{
      margin-top: 60px;
      max-width: 574px;
      padding-right: 40px;

      @include respond-to(sm){
        margin-top: 100px;
      }
    }

    h1:before{
      content: "";
      display: block;
      width: 420px;
      border-width: medium 1px 1px;
      border-top: 1px solid red;
      position: relative;
      top: -16px;
      right: 377px;
    }
  }

  &__top-right{

    @include respond-to(sm){
      width: 50%;
    }

    p{
      margin-top: 76px;
      margin-bottom: 60px;
      font-size: 18px;

      @include respond-to(sm){
        margin-top: 100px;  
        margin-bottom: 110px;
        font-size: 20px;
      }
    }
  }  
  
  &__bottom-inner{
    margin-top: 74px;

    @include respond-to(sm){
      display: flex;
      margin-top: 200px;
    }

    h1{
      font-size: 28px;

      @include respond-to(sm){
        font-size: 34px;
      }
    }

    p{
      font-size: 18px;
      padding-top: 8px;
      padding-bottom: 46px;

      @include respond-to(sm){
        font-size: 20px;
      }

    }

    .btn{
      margin-left: -31px;;
    }

    div:last-child{
      padding-bottom: 0px;
    }

    div:not(:first-child){
      @include respond-to(sm){
        padding-left: 40px;
      }
    }
  }

  &__text-wrap{
    padding-bottom: 59px;

    @include respond-to(sm){
      width: 33.3333333%;
      padding-bottom: 0px;
    }
  }
}


