// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face { 
  font-family: 'leicht';
  src: url('../fonts/soehne-web-leicht.woff2') format('woff2');
  }

  @font-face { 
    font-family: 'dreiviertelfett';
    src: url('../fonts/soehne-web-dreiviertelfett.woff2') format('woff2');
    }